@{
    Layout = null;
}
@model XCode.RuningCode.Service.Dto.Blog.ArticleDto

<article class="excerpt-minic excerpt-minic-index">
    <h2>
        <span class="red">【推荐】</span><a target="_blank" href="" title="@Model.Title">@Model.Title</a>
    </h2>
    <p class="note">@Model.Content</p>
</article>