@using XCode.RuningCode.Core.Enums
@using XCode.RuningCode.Service.Dto.Blog
@{
    List<CategoryDto> catrgories = ViewBag.Categories;
    Layout = null;
}
@model List<ArticleDto>

<div>
    <div class="title">
        <h3>最新发布</h3>
        <div class="more">
            @foreach (var category in catrgories)
            {
                <a href="@Url.Action("Index", "Blog", new { type=ArticleQueryType.Category,id = category.Id})" title="@category.Name">@category.Name</a>
            }
        </div>
    </div>

    @Html.Partial("_ArticleCommonList", Model)
</div>