@{
    Layout = null;
}

<div class="widget widget_sentence">
    <h3>友情链接</h3>
    <div style="padding: 15px; cursor: pointer">
        <a href="http://www.x-code.me" title="网站建设" target="_blank">XCode</a>&nbsp;&nbsp;&nbsp;
    </div>
</div>