
@{
    ViewBag.Title = "Welcome";
    Layout = "~/Areas/Adm/Views/Shared/_Layout_Body.cshtml";
}
<!--state overview start-->
<div class="row state-overview">
    <div class="col-lg-3 col-sm-6">
        <section class="panel purple">
            <div class="symbol">
                <i class="fa fa-send"></i>
            </div>
            <div class="value white">
                <h1 class="timer" data-from="0" data-to="320"
                    data-speed="1000">
                    320
                </h1>
                <p>New Order</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel ">
            <div class="symbol purple-color">
                <i class="fa fa-tags"></i>
            </div>
            <div class="value gray">
                <h1 class="purple-color timer" data-from="0" data-to="123"
                    data-speed="1000">
                    123
                </h1>
                <p>Item Sold</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel green">
            <div class="symbol ">
                <i class="fa fa-cloud-upload"></i>
            </div>
            <div class="value white">
                <h1 class="timer" data-from="0" data-to="432"
                    data-speed="1000">
                    432
                </h1>
                <p>Item Upload</p>
            </div>
        </section>
    </div>
    <div class="col-lg-3 col-sm-6">
        <section class="panel">
            <div class="symbol green-color">
                <i class="fa fa-bullseye"></i>
            </div>
            <div class="value gray">
                <h1 class="green-color timer" data-from="0" data-to="2345"
                    data-speed="3000">
                    2345
                </h1>
                <p>Unique Visit</p>
            </div>
        </section>
    </div>
</div>
<!--state overview end-->

<div class="row">
    <div class="col-lg-12">
        <section class="panel">
            <header class="panel-heading" style="margin-bottom: 10px;">
                XCode介绍
                <span class="tools pull-left">

                </span>
                <span class="tools pull-right">
                    <a class="fa fa-repeat box-refresh" href="javascript:;"></a>
                    <a class="t-close fa fa-times" href="javascript:;"></a>
                </span>
            </header>
            <div class="panel-body">
                <p>
                    <b>
                        XCode是一个完全响应式，使用 MVC + EF + Bootstrap3.3.4 版本开发的后台管理系统模板，采用了左右两栏式等多种布局形式，使用了Html5+CSS3等现代技术，提供了诸多的强大的可以重新组合的UI组件，丰富的jQuery插件，可以用于所有的Web应用程序，如网站管理后台，会员中心，CMS，CRM，OA后台系统的模板，JuCheap使用到的技术完全开源，支持自定义扩展，你可以根据自己的需求定制一套属于你的后台管理模板。
                    </b>
                </p>

                <h3>XCode特点</h3>
                <p>完全响应式布局（支持电脑、平板等主流设备）;扁平化设计</p>
                <p>基于Jquery和Bootstrap</p>
                <p>丰富的UI组件</p>
                <p>采用HTML5 & CSS3</p>
                <p>自定义扩展</p>
                <p>静态资源文件合并压缩</p>

                <h3>XCode使用到的技术包括:</h3>
                <p>C#,MVC,EF</p>
                <p>T4模板批量生成</p>
                <p>Jquery,jqGrid</p>
                <p>Bootstrap</p>
                <p>DDD</p>
                <p>AutoMapper</p>
            </div>
        </section>
    </div>
</div>





